*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Arial, sans-serif;
}
body {
  background-color: #CCD5AE;
  text-align: center;
}
.winnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vmin;
  height: 65vmin;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  inset: 0;
  margin: auto auto;
  padding: 4vmin;
  border-radius:4vmin;
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
  font-size: 5vmin;
}
.buttons {
  margin-top: 5vmin;
  width:30vmin;
  height: 10vmin;
  background: linear-gradient(145deg, #2c2c2c, #1a1a1a);
  color: #fff;
  border-radius: 4vmin;
  font-size: 4vmin;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}
.buttons:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 18px rgba(0,0,0,0.3);
}
.starting{
  display: flex;
  flex-direction: column;
  gap: 5vmin;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0; 
  margin: auto auto; 
  z-index: 10;
  width: 90vmin;
  height: 65vmin;
  background-color: rgba(0,0,0,0.3);
  padding: 4vmin;
  font-size: 3.6vmin;
  border-radius:4vmin;
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}
p {
  font-weight: bold;
}
h1 {
  font-size: 10vmin;
}
#strtBtn{
  margin-top: 5vmin;
  width:30vmin;
  height: 10vmin;
  background: linear-gradient(145deg, #2c2c2c, #1a1a1a);
  color: #fff;
  border-radius: 4vmin;
  font-size: 4vmin;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}
#strtBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 18px rgba(0,0,0,0.3);
}
li{
  text-align: left;
}
.hide {
  display: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60vmin;
  height: 60vmin;
  gap: 1.5vmin;
}
.box {
  background-color: #FEFAE0;
  width: 18.5vmin;
  height: 18.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4vmin;
  box-shadow: 0 1vmin 2vmin rgba(0,0,0,0.8);
  color: #F4A373;
  font-size: 9vmin;
  transition: 0.2s ease-in;
}
.sticker {
  color: #FF0000;
  font-weight:bold;
}
.box:hover{
  border: 2px solid #6b7f5a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}
#rstBtn {
  width: 40vmin;
  height: 12vmin;
  padding: 3px;
  background: linear-gradient(145deg, #2c2c2c, #1a1a1a);
  color: #fff;
  font-size: 5vmin;
  border-radius: 4vmin;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}
#rstBtn:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 18px rgba(0,0,0,0.3);
}
.msgContainer {
  height: 60vmin;
  width: 4vmin;
  background-color: red;
}